<form class="manage-quest__form quest-form redo-quest-form" action="{{form_action_url}}"
      method="post" enctype="multipart/form-data">
    <h3 class="manage-quest__photo-header quest-form__photo-header">Основное описание квеста</h3>
    <div class="quest-form__main-quest-data">
        <!--основное описание квеста-->
        <div class="floating-label-form-group quest-form__form-elem">
            <div class="redo-quest-form__error-container redo-quest-form__error-container_empty"></div>
            <label for="name" class="quest-form__input-name">Название</label>
            <input type="text" class="form-control quest-form__input-text"
                   id="name" name="name" placeholder="Название" value="{{quest.name}}">
        </div>

        <div class="redo-quest-form__error-container redo-quest-form__error-container_hidden"></div>
        <div class="floating-label-form-group quest-form__form-elem">
            <div class="redo-quest-form__error-container redo-quest-form__error-container_empty"></div>
            <label for="description" class="quest-form__input-name">Описание</label>
            <textarea class="form-control quest-form__textarea" id="description"
                      name="description" placeholder="Описание">{{quest.description}}</textarea>
        </div>

        <h3 class="manage-quest__photo-header quest-form__photo-header">Станции</h3>

        <input name="redo-quest-form__hidden-checker" class="redo-quest-form__hidden-checker" type="button">

        <div class="manage-quest__photoplace quest-form__photo-place">
            <script type="text/javascript">
                var existingPhotos = [];
                    {{#each quest.pictures}}
                    existingPhotos.push({
                        name: "{{name}}",
                        description: "{{description}}",
                        url: "{{url}}",
                        id: "{{_id}}"
                    });
                    {{/each}}
            </script>
            <!--здесь добавляются новые элементы-->
        </div>
        <div class="quest-form__centred-container">
            <div class="manage-quest__addphoto btn btn-default quest-form__button">Добавить станцию</div>
        </div>
    </div>
    <!--submit buttons-->
    <hr class="featurette-divider">
    <div class="redo-quest-form__error-container_no-quest quest-form__centred-container"></div>
    {{#if createQuest}}
        <div class="quest-form__centred-container">
            <input type="submit" class="btn btn-default quest-form__button redo-quest-form__submit-button"
                   value="Создать новый квест">
        </div>
    {{/if}}
    {{#if editQuest}}
        <div class="quest-form__centred-container">
            <input type="submit" class="btn btn-default quest-form__button" value="Изменить квест">
        </div>
    {{/if}}
</form>

{{> form/templateForStation }}
