<h1 class="page-header">Квесты</h1>
{{#each questList}}
    <article class="row quest-card">
        <div class="col-xs-12 col-sm-8 quest-card__main-image-container">
            {{#if url}}
                <img class="quest-card__main-image"
                     data-src="holder.js/500x500/auto"
                     alt="Главный рисунок квеста"
                     src="{{ url }}">
            {{/if}}
        </div>
        <div class="col-xs-12 col-sm-4 quest-card__right-side">
            <a href="/quests/{{ id }}">
                <h2 class="featurette-heading">{{ name }} </h2>
            </a>
            <p class="lead quest-card__description">{{ description }}</p>
            <div class="quest-card__attributes">
                <!--количество лайков указать здесь!-->
                <div class="quest-card__attribute quest-card__amount">{{ quantity }}</div>
                <button class="quest-card__attribute quest-card__like">
                    <img width="32" height="32" src="/pictures/like_orange_32.png" alt="Лайки"
                         class="quest-card__like-disable">
                    <!--TODO: при наведении изменение цвета-->
                    <img width="32" height="32" src="/pictures/like_orange_hover_32.png" alt="Лайки"
                         class="quest-card__like-enable">
                </button>
                <!--количество комментариев указать здесь!-->
                <div class="quest-card__attribute quest-card__amount">11</div>
                <div class="quest-card__attribute quest-card__info">Комментарии</div>
            </div>
        </div>
    </article>
    <hr class="featurette-divider">
{{/each}}
