<h1 class="page-header">Квесты</h1>

{{#if questList}}
    {{#each questList}}
        <article class="row quest-card">
            <a href="/quests/{{ id }}" class="quest-card__link">
                <div class="col-xs-12 col-sm-8 quest-card__main-image-container">
                    {{#if url}}
                        <img class="quest-card__main-image"
                             data-src="holder.js/500x500/auto"
                             alt="Главный рисунок квеста"
                             src="{{ url }}">
                    {{/if}}
                </div>
            </a>
            <div class="col-xs-12 col-sm-4 quest-card__right-side">
                <a href="/quests/{{ id }}" class="quest-card__link">
                    <h2 class="featurette-heading">{{ name }} </h2>
                </a>
                <a href="/quests/{{ id }}" class="quest-card__link">
                    <p class="lead quest-card__description">{{ description }}</p>
                </a>
                <div class="quest-card__attributes js-quest-attributes">
                    {{> attributes/attributes }}
                </div>
            </div>
        </article>
        <hr class="featurette-divider">
    {{/each}}
{{else}}
    <div class="quest-card">
        Квесты не найдены!
    </div>
{{/if}}
