<h1 class="page-header">{{name}}</h1>
<div class="container-fluid quest" data-id={{id}}>
    <article class="row quest__main-part">
        <img class="col-sm-8 col-xs-12 img-responsive quest__main-img" src={{url}} />
        <div class="col-xs-12 col-sm-12 quest__description lead">{{description}}</div>
    </article>
    {{> form/commentForm }}
    {{#each pictures}}
        <div class="quest__one-picture col-sm-offset-3 col-xs-12 col-sm-6" data-id={{id}}>
            <h3 class="quest__header">{{name}}</h3>
            <img class="quest__img img-responsive" src={{url}} />
            {{> form/commentForm }}
        </div>
    {{/each}}
</div>
