<h1 class="page-header quest__header">{{name}}
    {{#if authExists}}
        <label for="checkin-filter" class="quest__checkin-filter">
            <input id="checkin-filter" type="checkbox" class="checkin-filter">
            Убрать посещенные
        </label>
    {{/if}}
</h1>

<div class="container-fluid quest" data-id="{{id}}">
    <article class="row quest__main-part">
        <img class="col-sm-8 col-xs-12 img-responsive quest__main-img" src="{{url}}">
        <div class="col-xs-12 col-sm-12 quest__description lead">{{description}}</div>
        <div class="col-xs-12 col-sm-12 quest-main__attributes quest-form__centred-container js-quest-attributes">
            {{> attributes/attributes }}
        </div>
    </article>
    {{#if is_admin}}
        <div class="quest__manage">
            <a href="/quests/edit/{{id}}">Редактировать квест</a> |
            <a href="#" class="quest__manage__remove">Удалить квест</a>
        </div>
    {{/if}}
    {{> form/mainCommentForm }}
    <div class="quest__pictures-list">
        {{#each pictures}}
            <div class="quest__one-picture col-xs-12 col-sm-4" data-id={{id}}>
                <div class="" data-toggle="modal" data-target=".quest-modal{{@index}}">
                    <img class="quest__miniature-img img-responsive" src={{miniatureUrl}}>
                </div>
            </div>
            <div class="modal fade quest-modal{{@index}}" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content quest-modal__content">
                        <h3 class="quest-modal__header">{{name}}</h3>
                        <img class="quest__img img-responsive quest-modal__img" src={{url}}>
                        <div class="quest-card__attributes_relative js-quest-attributes">
                            {{> attributes/attributes }}
                        </div>
                        {{> form/commentForm }}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
